@import "tailwindcss";

@theme {
  --color-primary: #FF5A5F;
  --color-secondary: #00A699;
  --color-neutral: #484848;
  
  --radius-default: 12px;
  --radius-lg: 16px;
  
  --font-sans: 'Circular', system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
